html {
  font-size: 62.5%;
  box-sizing: border-box;
}
body {
  margin: 0;
  height: 100vh;
  font-size: 1.6rem;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root {
  height: 100%;
}

/* Layout */
.grid-container {
  display: grid;
  grid-template-areas:
    'header'
    'main'
    'footer';
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
}
header {
  grid-area: header;
  height: 90px;
  background-color: #203040;
}
main {
  grid-area: main;
  padding: 5rem 2rem;
}
footer {
  grid-area: footer;
  background-color: #203040;
  color: #ffffff;
}

/* NavBar */
.nav-bar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 4rem;
}
.brand {
  color: #ffffff;
  font-size: 3rem;
  font-weight: bold;
}
.right {
  display: flex;
}
.signin {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  cursor: pointer;
  color: #ffffff;
}
.nav-bag {
  display: flex;
  align-items: center;
  margin: 0 2rem;
  cursor: pointer;
}
.nav-bag i {
  font-size: 3rem;
  color: #ffffff;
}
.nav-bag i:hover {
  color: #ff8000;
}
.badge {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  width: 20px;
  color: #000;
  background: yellow;
  border-radius: 50%;
  font-weight: bolder;
  font-size: 1.5rem;
  margin-left: -1rem;
  margin-bottom: 3rem;
}
.empty-cart {
  display: none;
}
.input_wrapper i {
  margin: 0 1rem;
  color: #e0e0ff;
}

/* HomePage */
.homePage {
  display: flex;
}

/* Not Found */
.not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(68, 68, 68);
  min-height: 80vh;
}
.not-found h2 {
  font-size: 5rem;
}
.not-found p {
  font-size: 2.5rem;
}

/* Common classes */
h1 {
  font-size: 1.8rem;
  /* padding: 1rem; */
}
h2 {
  font-size: 1.6rem;
  padding: 1rem;
}
a {
  text-decoration: none;
}
a:hover {
  color: #ff8000;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
li {
  margin-top: 1rem;
}
input,
select,
textarea,
button {
  padding: 1rem;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  border: 0.1rem #a4a4a4 solid;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
button {
  background-color: #f8f8f8;
  cursor: pointer;
}
input:hover,
select:hover,
textarea:hover,
button:hover {
  border: 0.1rem #404040 solid;
}
button.primary {
  background-color: #f0c040;
}
button.block {
  width: 100%;
}
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.row.center {
  justify-content: center;
}
.row.top {
  align-items: flex-start;
}
.col-1 {
  flex: 1 1 25rem;
}
.col-2 {
  flex: 2 1 50rem;
}
.min-30 {
  min-width: 30rem;
}

/* Image */
img {
  border-radius: 0.5rem;
  padding: 3rem;
}
img.small {
  max-width: 5rem;
  width: 100%;
}
img.medium {
  max-width: 25rem;
  width: 100%;
}
img.large {
  width: 100%;
}

/* Card */
.card {
  border: 0.1rem #c0c0c0 solid;
  background-color: #f8f8f8;
  border-radius: 0.5rem;
  margin: 2rem;
}
.card-body {
  padding: 1rem;
}
.card-body > * {
  margin-bottom: 0.5rem;
}
.price {
  font-size: 2rem;
  padding: 1rem;
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}
.addToCartButton {
  background-color: #56cfe1;
  padding: 5px 25px;
  color: #e0e0ff;
  border-radius: 50px;
  font-size: 1.5rem;
  font-weight: 600;
  min-height: 40px;
  border: 1px solid;
  width: 95%;
}
.addToCartButton:hover {
  color: #404040;
}

/* Rating */
.rating span {
  color: #f0c040;
  margin: 0.1rem;
}

.rating span:last-child {
  color: #404040;
}

/* Alert */
.success {
  color: #20a020;
}
.danger {
  color: #a02020;
}
.alert {
  padding: 1rem;
  border: 0.1rem solid transparent;
  border-radius: 0.5rem;
}
.alert-info {
  color: #2020a0;
  background-color: #e0e0ff;
}
.alert-danger {
  color: #a02020;
  background-color: #ffe0e0e0;
}
